body{
    /* background-color: #e5e5e5; */
    background-color: #25a8fa;
}
input{
    background-color: #fae825;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    border-width: 2px;
    border-color: black;
}
button{
    color: black;
    background-color: #fae825;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    border-width: 2px;
    border-color: black;
}
.chat-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: auto; */
    margin-top: 16rem;
}