<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - Get Started</title>
    <link rel="stylesheet" href="/static/css/landing.css">
    <script src="https://kit.fontawesome.com/27fb6258dc.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="left-section">
        <nav>
            <a href="/" class="logo">Streamline</a>
            <div class="nav-links">
                <a href="/features" class="nav-link">Features</a>
                <a href="/about" class="nav-link" class="gradient-text">About</a>
                <a href="/contacts" class="nav-link">Contact</a>
            </div>
            <button class="contact-btn">
                <i class="fa-solid fa-moon"></i>
            </button>
        </nav>
        
        <h1 class="gradient-text">About</h1>
            <p>Streamline is a web app I built with Python and Flask. It allows you to join rooms, send messages and chat with your friends.</p>
            <p>This webapp uses SocketIO for real time messaging which is also the key feature of the app, Flask for routing, redirecting, socket functions and authentication using Bcrypt and Mongodb</p>
            <p>For UI I used basic HTML, CSS and Javascript</p>
            <p>Furthermore, this is a free and open source and contains no complex integration right now but it may get very advanced in the future.</p>
            <p>The source code for the Project can be found on my <a href="https://github.com/mxxn009">Github</a> </p>
    </section>
    
</body>
</html>