<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - Get Started</title>
    <link rel="stylesheet" href="/static/css/landing.css">
    <script src="https://kit.fontawesome.com/27fb6258dc.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="left-section">
        <nav>
            <a href="/" class="logo">Streamline</a>
            <div class="nav-links">
                <a href="/features" class="nav-link">Features</a>
                <a href="/about " class="nav-link">About</a>
                <a href="/contacts" class="nav-link">Contact</a>
            </div>
            <button class="contact-btn-icon"><i class="fa-solid fa-moon"></i></button>
            <p class="hide">You dont need light mode trust me.</p>
            
        </nav>
        
        <h1 class="gradient-text">Contact</h1>
            <!-- <p>Contact me Here: </p> -->
            <ul>
                <li style="color: #fff; margin: 1rem; margin-bottom: 1rem;">LinkedIn : <a href="https://www.linkedin.com/in/diwakar813/">Here</a></li>
                <li style="color: #fff; margin: 1rem;">Github : <a href="https://github.com/mxxn009">Here</li>
            </ul>
    </section>
    
</body>
</html>