<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - Get Started</title>
    <link rel="stylesheet" href="/static/css/landing.css">
    <script src="https://kit.fontawesome.com/27fb6258dc.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="left-section">
        <nav>
            <a href="/" class="logo">Streamline</a>
            <div class="nav-links">
                <a href="/features" class="nav-link">Features</a>
                <a href="/about" class="nav-link" class="gradient-text">About</a>
                <a href="/contacts" class="nav-link">Contact</a>
            </div>
            <button class="contact-btn">
                <i class="fa-solid fa-moon"></i>
            </button>
        </nav>
        
        <h1 class="gradient-text">Features</h1>
            <p>Streamline is a web app where you can join rooms, send messages and chat with your friends. You will also be able to send and share images and possibly files too over a secure network.</p>
            <p> Here is how it works</p>
            <p style="margin-top: 1rem;"> Upon login, Create a room.</p>
            <div class="screenshot">
                <img src="/static/images/createroom.png" alt="screenshot" style="width: 500px; height: 300px;">
            </div>
            <p style="margin-top: 1rem;">Or if you have a Room Id you can join a room.</p>
            <div class="screenshot">
                <img src="/static/images/enterroomid.png" alt="screenshot" style="width: 500px; height: 300px;">
            </div>
            <p style="margin-top: 1rem;">And that's it</p>
            <div class="screenshot">
                <img src="/static/images/converse.png" alt="screenshot" style="width: 500px; height: 300px;">
            </div>
            <p style="margin-top: 1rem;">Text messages are not recorded anywhere and are destroyed upon logging out, hence your privacy is protected.</p>
        </section>
    
</body>
</html>