<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket app</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="chat-container" id="chat-container">
        <div id="chat-box"></div>
        <input type="text" id="message-input" placeholder="Enter your message">
        <button id="send-button">
            Send
        </button>
    </div>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>